* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    
    background-color: #2e2e2e;
    
}
div {
    margin: auto;
    text-align: center;
    border: 10px solid #ededed;

}
img {
    width: 50%;
    border: 1px solid #ededed;
    padding: 5px;
}    
.spooky {
    margin: auto;
    width: 800px;
    border: 2px solid #bd0d0d;
    padding: 20px;
}

h1, h2, h3 {
    color:#bd0d0d;
    opacity: 90%;
}

p {
    color: #ededed;
}

/* here's to hoping the red doesn't hurt your eyes too bad.... */